
{% load static %}
<!-- blog/templates/blog/blog_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>

  <meta

  content="
  Discover capsule filling machine from Drk Instrument.Precision engineering and best quality product for industry. Contact us today.
   Our capsule filling machine is ideal for research and small scale production.
  It is convenient to use and required less investment. We offer capsule filling machine for different sizes and capacity.
  We offer capsule filling machine with 100 holes, capsule filling machine for 300 holes , capsule filling machine for 500 holes.
  With 100 holes capsule filling machine we can produce one thousand capsule per hour , and with 300 hole capsule filling machine we can produce 
  three thousand capsule per house .


"
  name="description"
/>

<meta
  content="
    capsule Filling Machine 00 size,
    capsule filling machine price,
    manual capsule filling machine,
    manual capsule filling machine 0 size,
    capsule filling machine 100 holes,
    capsule filling machine manufacturing company,


"
  name="DrK Instruments"
/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Manual Capsule Filling Machine</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml" />

    <!-- Preload Images -->
    <link rel="preload" as="image" href="{% static 'images/hero-banner.png' %}" media="(min-width: 768px)" />
    <link rel="preload" as="image" href="{% static 'images/hero-banner-bg.png' %}" media="(min-width: 768px)" />
    <link rel="preload" as="image" href="{% static 'images/hero-bg.jpg' %}" />
</head>

<body>

    <!-- Header -->
    <header class="header" data-header>
        <div class="container">
          <h1>
            <a href="{% url 'index' %}" class="logo">DrK instrument<span class="navbar-link"></a>
          </h1>
  
          <nav class="navbar" data-navbar>
            <ul class="navbar-list">
              <li class="nav-item">
                <a href="{% url 'index' %}" class="navbar-link" data-nav-link>Home</a>
              </li>
  
              <li class="nav-item">
                <a href="{% url 'product_list' %}" class="navbar-link" data-nav-link>Products List</a>
              </li>
              
              <li class="nav-item">
                <a href="{% url 'contact_us' %}" class="navbar-link" data-nav-link>Contact Us</a>
              </li>
  
              <li class="nav-item">
                <a href="{% url 'blog_list'%}" class="navbar-link" data-nav-link>Blog</a>
              </li>
  
              <li class="nav-item">
                <a href="{% url 'about_us' %}" class="navbar-link" data-nav-link>About Us</a>
              </li>
            </ul>
          </nav>
  
          <div class="header-btn-group">
            <button class="search-btn" aria-label="Search" data-search-btn>
              <ion-icon name="search-outline"></ion-icon>
            </button>
            <a href="{% url 'user-logins'%}">
              <button class="btn btn-hover">Sign In</button>
            </a>
            <a href="{%url 'user-register'%}">
              <button class="btn btn-hover">Register</button>
            </a>
            <button class="nav-toggle-btn" aria-label="Toggle Menu" data-menu-toggle-btn>
              <span class="line top"></span>
              <span class="line middle"></span>
              <span class="line bottom"></span>
            </button>
          </div>
        </div>
      </header>

    <!-- Hero Section -->
    <section class="hero" id="home" style="background-image: url('{% static 'images/hero-bg.jpg' %}')">
       
            <div class="col-md-10 mx-auto">
                <div class="card" style="box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); border: 4px solid #ffd700; padding: 20px; border-radius: 10px; margin-top: 20px;margin-bottomtop: 20px;">
                  <div class="blog-post">
                    <!-- Title -->
              
                    <h1 style="font-weight: bold; color: black; text-align: center;">
                      {{ title }} Manual Capsule Filling Machine 100 Holes
                  </h1>
                  <div class="image-container" style="text-align: center;">
                    <img src="{% static 'images/food-menu-111.jpg' %}" alt="Image for {{ title }}" style="max-width: 50%; height: auto; display: block;">
                </div>
                    <br/>
                    Our capsule filling machine is compact table top machine suitable for small production and pilot lot production.
                    We design and manufacture capsule filling machine in our own facility and ensure best quality product.
                    Our machine is made of stainless steel and brass component with chrome plating in non contact parts.
                    <br/>  <br/>
                    This machine is ideal for research and small scale production.It can fill different capsule sizes from 00 to 5 with the help of 
                    different interchangable parts. Our machines are already used by different pharma company, R&D Laboratories, Research Institutions,
                    Pharma Collages, herbal and nutraceutical practitioners,Unani & Ayurvedic Medicines practitioners.    <br/>  <br/>

  It is convenient to use and required less investment. We offer capsule filling machine for different sizes and capacity.
  We offer capsule filling machine with 100 holes, capsule filling machine for 300 holes , capsule filling machine for 500 holes.
  With 100 holes capsule filling machine we can produce one thousand capsule per hour , and with 300 hole capsule filling machine we can produce 
  three thousand capsule per hour . <br/>  <br/>





                    
                    <!-- Subtitle -->
                    <h2 style="font-weight: bold; color: black;">{{ subtitle }} Working Principle Of Capsule Filling Machine </h2>
                    <br/> 
                  In manual capsule machine 100 empty capsule is loaded in capsule tray. Capsule tray is placed over the machine bed
                  . Then Capsule position is locked using the knob. With the help of lever upper and lower capsule body is deattached 
                  .
                  <br/>  <br/>
                  Then empty capsule is filled with medicine powder and compressed the medicine powder in capsule with the help of handle.
                  .Then capsule tray is placed over the bed and after unlocking the machine capsule is pressed with handle and lever where upper and 
                  lower capsule joined together .
                  
              
                  After this process with the help of lever capsule tray is unloaded from machine bed and from the capsule tray
                  we unload the filled capsule.
                  <br/>  <br/>

                  <h2 style="font-weight: bold; color: black;">{{ subtitle }} Manual Capsule Filling Most Suitable For</h2>
                  <br/>  
                  <!-- Point-wise list -->
                  <ol>
                    <li>R&D Laboratories</li>
                    <li>Research Institutions</li>
                    <li>Pharmaceutical Colleges</li>
                    <li>Herbal and Nutraceutical Practitioners</li>
                    <li>Unani & Ayurvedic Medicine Practitioners</li>
                    <!-- Add more points as needed -->
                </ol>
            

                <br/>  

                    <!-- Main Body -->
                    <div class="main-body">
                        <p><h2 style="font-weight: bold; color: black;">{{ subtitle }} Manual capsule filling machine parts and its name</h2>
                          <br/>  
                          <ol>
                            <li>Loading Tray</li>
                            <li>Powder Tray</li>
                            <li>Bed 100 Holes</li>
                            <li>Sealing plate with rubber top</li>
                            <li>Pin Plate with 100 Pins</li>
                            <li>Scraper</li>
                            <!-- Add more points as needed -->
                            <div class="image-container" style="text-align: center;">
                              <img src="{% static 'images/Capsule.png' %}" alt="Image for {{ title }}" style="max-width: 50%; height: auto; display: block;">
                          </div>
                          <br/>  
                        </ol>
                            {{ main_body }}  <p><h2 style="font-weight: bold; color: black;">{{ subtitle }} Operating Procedure</h2>
                              <br/>  <ol>
                                <li>Fill empty capsule onto the loading tray and place loading tray over the machine bed</li>
                                <li>Check the front knob it should be turned to the right.</li>
                                <li>Pull locking lever forward.It will lock the capsule. Pull down the handle which will lift the capsule upper part and sepratethe capsule</li>
                                <li>Push locking lever back which will drop down the capsule bodies and become level with filling surface.</li>
                                <li>Place Powder tray over the bed which keep the powder from spilling </li>
                                <li>Pour and spread the measured powder. Move the extra powder on the shelf. </li>
                                <li>Lock the pin plate and compress the powder which will allow more powder to fill inside the capsule. </li>
                                <li>Return the loading tray place over the bed and unlock the Machine.  </li>
                                <li>Push down the lock handle which will join the capsule and load into the loading tray. </li>
                                <li>Push down the lock handle again to remove the loading tray. </li>
                                <li>Capsule are filled now. Remove the capsule from the tray now. </li>
           
           
                                <!-- Add more points as needed -->
                            </ol>
                        
                        
                        
                            </p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </section>

    <!-- Your existing script and ionicons links -->

    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
